<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Adherent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" >
</head>
<style>
    .nav{
        padding: 1%;
        background-color: white;
    }
    body{
        background-color: whitesmoke;
    }
    h1{
        text-align: center;
        font-weight: bold;
    }
    table{
        width: 70%!important;
        border: darkgrey 1px solid;
    }
</style>
<body>
<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/livre">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/adherent">Adherents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/emprunt">Emprunts</a>
    </li>
</ul>
<div align="center">
    <h1>Edit Adherent</h1>
    <br />
    <form action="#" th:action="@{/saveAdherent}" th:object="${adherent}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Adherent ID:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Adherent Prenom:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{prenomAdherent}" />
                </td>
            </tr>
            <tr>
                <td>Adherent Nom:</td>
                <td><input class="form-control" type="text" th:field="*{nomAdherent}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button class="btn btn-dark" type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>